<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>NBA STATS</title>
    <link rel="stylesheet" href="../static/css/styles.css">
    <link rel="icon" href="../static/images/favicon.ico">
    <link href="https://fonts.googleapis.com/css?family=Dancing+Script|Great+Vibes|Oswald&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Anton|Dancing+Script|Fredericka+the+Great|Great+Vibes|Lobster|Parisienne|Permanent+Marker|Sacramento|Satisfy|Spicy+Rice&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Girassol&family=Special+Elite&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  <script>
     $(function(){
     var navMain = $(".navbar-collapse");

     navMain.on("click", "a", null, function () {
         navMain.collapse('hide');
     });
 });
    </script>
  </head>
  <body style="background-image: url(../static/images/Backgrd.jpg);  background-size: 100% 100%;  background-attachment: fixed;
  background-repeat: no-repeat;">
    <section id="title">
  <div class="con">
      <!-- Nav Bar before updation color was e4f9f5      navbar-light        navbar navbar-expand-lg -->
      <nav class="navbar navbar navbar-expand-lg  fixed-top " style="background-color: black;">
        <a class="navbar-brand" href="#"><h1 style= "color:#FFFFFF;">NBA STATS</h1></a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"  aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="home.html" ><h5 style="color:#FFFFFF;">HOME</h5> <span class="sr-only">(current)</span></a>

            </li>
            <li class="nav-item">
              <a class="nav-link"  href="#topPlayers" ><h5 style="color:#FFFFFF;">Top Player Statistics</h5></a>
            </li>
            <li class="nav-item">
              <a class="nav-link"  href="#teamstatistics" ><h5 style="color:#FFFFFF;">Team Statistics</h5></a>
            </li>
            <li class="nav-item">
              <a class="nav-link"  href="#charts" ><h5 style="color:#FFFFFF;">Top Player Charts</h5></a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="https://www.nba.com/" ><h5 style="color:#FFFFFF;">ABOUT NBA</h5> <span class="sr-only">(current)</span></a>
            </li>
          </ul>
        </div>
      </nav>
    </div>
    <br><br><br><br>
      <center>
<section id="HOME" >
<h3 style="color:#FFFFFF;"><b>NBA Stats Visualization and Prediction!<br></b></h3>
  <br>
<h4 style="color:#FFFFFF;"> Welcome!</h4>
<h5 class="Srow" style="color:#FFFFFF;">
Want to know about the upcoming game, you are in the right page! This page is for you. Scrolldown for more information on the statistics and prediction.</h5>
<br></section>
<div  id= "topPlayers"style="color:#FFFFFF;">
  <h4 style="color:#FFFFFF;">Top Players Statistics</h4>
  <br>
  <center>
      <table id="statistics" style="font-family: 'Copperplate Gothic Light', cursive; color: #FFFFFF; font-size: 14px;">
        {% for row in html_player_reader %}
          <tr>
          {% for col in row %}
          <td> &nbsp; {{ col }}</td>
          {% endfor %}
          </tr>
        {% endfor %}
        </table>
  </center>
<div id="teamstatistics">
  <br>
<h4 style="color:#FFFFFF;"> Statistics</h4>
<br>
<center>
<h6 style="color:#FFFFFF;">
  <table id="statistics">
    {% for row in html_score_reader %}
      <tr>
      {% for col in row %}
      <td> &emsp; {{ col }}</td>
      {% endfor %}
      </tr>
    {% endfor %}
    </table>
</h6></center>
</div>
<br>

<div id="charts">
  <h4 style="color:#FFFFFF;"> Top 5 Players Charts</h4>

  <center>
    <br>
    <br>
    <h5 style="color:#FFFFFF;"> Giannis Antetokounmpo</h5>
    <img src="../static/images/Giannis Antetokounmpo.png" alt="Giannis Antetokounmpo.png" height=30% width=30%>
    <br>
    <br>
    <h5 style="color:#FFFFFF;"> Joel Embiid</h5>
    <img src="../static/images/Joel Embiid.png" alt="Joel Embiid.png" height=30% width=30%>
    <br>
    <br>
    <h5 style="color:#FFFFFF;">Kevin Durant</h5>
    <img src="../static/images/Kevin Durant.png" alt ="Kevin Durant.png" height=30% width=30%>
    <br>
    <br>
    <h5 style="color:#FFFFFF;">Nikola Jokic</h5>
    <img src="../static/images/Nikola Jokic.png" alt="Nikola Jokic.png" height=30% width=30%>
    <br>
    <br>
    <h5 style="color:#FFFFFF;">Stephen Curry</h5>
    <img src="../static/images/Stephen Curry.png" alt="Stephen Curry.png" height=30% width=30%>
    <br>
    <br>
  </center>
</div>
</center>
  </body>
</html>

